# Compiled class file
*.class

# Log file


# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
*.log
*.logs
*.yml
*.DS_Store
*.properties
*.conf
*.factorypath
*.classpath
*.project
*.prefs
*.iml
*.sh
*.tls
*.cmd
*.mvnw
/wechat/mvnw
/wechat/HELP.md
/target/
/.vscode/
/portal/target/
/base/target/
/mysql/target/
/redis/target/
/token/target/
/classfee/target/
/schoolroll/target/
/teachplan/target/
/course/target/
/coursedata/target/
/user/target/
/wechat/target/
/wechat/.mvn/
/.settings/
/base/.settings/
/classfee/.settings/
/mysql/.settings/
/portal/.settings/
/portal/logs/
/redis/.settings/
/roll/.settings/
/teachplan/.settings/
/token/.settings/
/user/.settings/
/coursedata/.settings/
/course/.settings/